export(add_network_metrics)
export(assemble_communities)
export(block_model)
export(build_range_stack)
export(create_standard_grid)
export(crop_filter_stack)
export(downscale_networks)
export(infer_network)
export(infer_networks)
export(interaction_table_to_matrix)
export(list_shapefiles)
export(local_probability_network)
export(local_block_network)
export(make_bbox)
export(maxent_model)
export(map_metrics)
export(network_metrics_raster)
export(new_assemblage)
export(new_distribution_collection)
export(new_ecological_network)
export(new_inference_model)
export(new_network_collection)
export(new_spatial_result)
export(prepare_range_stacks)
export(probability_matrix_model)
export(reconstruct_networks)
export(print.assemblage)
export(print.distribution_collection)
export(print.ecological_network)
export(print.inference_model)
export(print.network_collection)
export(rasterize_range_file)
export(rasterize_range_rows)
export(rarefied_network_metric)
export(run_network_downscaling)
export(run_spatial_inference)
export(sbm_model)
export(simulate_network)
export(simulate_interaction_counts)
export(summarize_network)
export(summarize_networks)
S3method(print,assemblage)
S3method(print,distribution_collection)
S3method(print,ecological_network)
S3method(print,inference_model)
S3method(print,network_collection)
importFrom(stats,rmultinom)
importFrom(stats,setNames)
import(methods)
